<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FraudAlert - Fake Job Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Fake Job Predictor</h2>
        <p>Enter Job Details (fields with an asterisk are required)</p>
        <form id="prediction-form" class="job-form">
            <div class="form-row">
                <input type="text" id="title" name="title" placeholder="Title *" required>
                <input type="text" id="location" name="location" placeholder="Location(City, Country) *" required>
            </div>
            <div class="form-row">
                <input type="text" id="department" name="department" placeholder="Department">
                <input type="text" id="salary_range" name="salary_range" placeholder="Salary Range">
            </div>
            <div class="form-row">
                <input type="text" id="company_profile" name="company_profile" placeholder="Company Profile *" required>
                <input type="text" id="description" name="description" placeholder="Description *" required>
            </div>
            <div class="form-row">
                <input type="text" id="requirements" name="requirements" placeholder="Requirements *" required>
                <input type="text" id="benefits" name="benefits" placeholder="Benefits *" required>
            </div>
            <div class="form-row">
                <input type="text" id="telecommuting" name="telecommuting" placeholder="Telecommuting(Yes/No)" title="Enter 'Yes' or 'No'">
                <input type="text" id="has_company_logo" name="has_company_logo" placeholder="Has company logo (Yes/No)" title="Enter 'Yes' or 'No'">
            </div>
            <div class="form-row">
                <input type="text" id="has_questions" name="has_questions" placeholder="Has Questions(Yes/No)" title="Enter 'Yes' or 'No'">
                <input type="text" id="employment_type" name="employment_type" placeholder="Employment Type">
            </div>
            <div class="form-row">
                <input type="text" id="required_education" name="required_education" placeholder="Required Education">
            </div>
            <div class="form-row">
                <input type="text" id="industry" name="industry" placeholder="Industry *" required>
                <input type="text" id="function" name="function" placeholder="Function">
            </div>
            <button type="submit">Submit</button>
        </form>
        <div id="result"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>